Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [ ]:
s='Dhruv'
l=[34,46,64,76]
f=8.36
t=(4,2,56,87)

Q2. Given are some following variables containing data:

(1)	var1 = ‘ ‘

(2)	var2 = ‘[ DS , ML , Python]’

(3)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(4)	var4 = 1.


What will be the data type of the above given variable.

In [ ]:
(1)=Empty string
(2)=String data type.
(3)=list data type.
(4)=integer data type.

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [7]:
a=100
b=20
c=a/b
c

5.0

This operator is used to divide the numbers.

In [9]:
x=20
y=7
z=x%y
z

6

This operator returns the remainder when two numbers are divided.

In [10]:
a=100
b=20
c=a//b
c

5

This operator is used in floor division.

In [12]:
q=30**2
q

900

This operator gives the power of the number.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [5]:
my_list = [24,'AI',3.32,(2,6,4,0),[38,4,24],{'name':'dhruv','age':27},37,True,'Data Science',4.643]
for i in my_list:
    print(i,type(i))

24 <class 'int'>
AI <class 'str'>
3.32 <class 'float'>
(2, 6, 4, 0) <class 'tuple'>
[38, 4, 24] <class 'list'>
{'name': 'dhruv', 'age': 27} <class 'dict'>
37 <class 'int'>
True <class 'bool'>
Data Science <class 'str'>
4.643 <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [19]:
a=eval(input("Enter the first number"))
b=eval(input("Enter the second number"))
count=0
while a % b == 0:
    a=a/b
    count += 1
print("Number a is divisible by number b",count,'times')

Enter the first number 2000
Enter the second number 2

Number a is divisible by number b 4 times

Q6.Create a list containing 25 int type data.Using for loop and if-else condition print if the element is divisible by 3 or not.

In [20]:
list=[24,35,2,6,252,647,4,8536,33,7,25,63,758,574,63,36,7658,14,64,9684,536,86,35,79,86]
for dhruv in list:
    if dhruv % 3 == 0:
        print('Number is divisible by 3')
    else:
        print("Number is not divisible by 3")

Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is not divisible by 3

Q7.What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable data types are those data type in which values can be changed or modified.
Immutable data type are those data type in which values can not be changed or can be modified.

Mutable data types example -

In [8]:
str = ['Dhruv',35,46.67,'Hello',(3,7,4)]
str

['Dhruv', 35, 46.67, 'Hello', (3, 7, 4)]

In [9]:
str[3]=495
str

['Dhruv', 35, 46.67, 495, (3, 7, 4)]

In [12]:
str[4]='ds'
str

['Dhruv', 35, 46.67, 495, 'ds']

Immutable data type examples -

In [13]:
str = "Data Science"
str

'Data Science'

In [14]:
str[5]='r'
str

TypeError: 'str' object does not support item assignment

In [18]:
str[8]=34
str

TypeError: 'str' object does not support item assignment